<div
  class="common-banner bg-[#1E6C44]"
>
  <div class="container mx-auto py-8 lg:py-10 xl:pt-12.5 xl:pb-16 2xl:pb-18.5 text-center text-white">
    <div class="banner-wrapper  max-w-172.5 mx-auto">
      <h1 class=" text-3xl lg:text-4xl xl:text-[40px] 2xl:text-5xl font-armany-bold !leading-[1.25] text-white mb-3 lg:mb-4 font-bold">
        My Account
      </h1>
      <p class="text-lg lg:text-xl text-[#B7D6C6] !leading-[1.6]">
        Manage your details, track orders, and enjoy a seamless shopping experience for your natural beauty journey.
      </p>
    </div>
  </div>
</div>
