<div class="password-input-wrapper relative w-full">
  <label class="block text-white text-lg lg:text-[22px] !leading-[1.25] mb-2" for="PasswordConfirmation"
    >Confirm Password*</label
  >
  <div class="relative">
    <input
      id="password-input"
      type="password"
      name="customer[password_confirmation]"
      class="w-full text-base lg:text-xl text-white placeholder:text-[#B7D6C6] border border-[#B7D6C6] bg-[#2A7A51] py-4 px-5 rounded-lg focus:outline-none focus:border-[#FFC801]"
      placeholder="Enter your password"
    >
    <!-- Eye Icon -->
    <button
      type="button"
      id="togglePassword"
      class="absolute inset-y-0 right-3 flex items-center text-white hover:text-primary"
      tabindex="-1"
    >
      <img
        id="eyeIcon"
        src="{{ 'eye-white.svg' | asset_url }}"
        width=""
        height=""
        class="size-full max-w-7 cursor-pointer"
        alt="toggle password"
      >
    </button>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const passwordInput = document.getElementById('password-input');
    const togglePassword = document.getElementById('togglePassword');
    const eyeIcon = document.getElementById('eyeIcon');

    togglePassword.addEventListener('click', function () {
      const isPassword = passwordInput.getAttribute('type') === 'password';
      passwordInput.setAttribute('type', isPassword ? 'text' : 'password');

      // swap eye icons
      if (isPassword) {
        eyeIcon.setAttribute('src', "{{ 'eye-slash-white.svg' | asset_url }}");
      } else {
        eyeIcon.setAttribute('src', "{{ 'eye-white.svg' | asset_url }}");
      }
    });
  });
</script>
