<form method="post" action="/password" class="grid grid-cols-2 gap-4 lg:gap-5 xl:gap-6">
  <div class="col-span-2 ">
    <div class="">
      <div class="relative z-1">
        <button class="size-5 lg:size-6 absolute z-2 top-[56%] right-5 lg:right-6 cupsor-pointer">
          <img src="/assets/eye-icon.svg" class="size-full" alt="" width="" height="">
        </button>
        <label class="block text-[#514849] text-lg lg:text-[22px] mb-2 font-medium !leading-[1.25]">Password*</label>
        <input
          placeholder="Enter Password"
          type="password"
          value="{{ customer.password }}"
          class="w-full text-lg lg:text-xl !leading-[1.2] text-[#797375] placeholder:text-[#797375] border lg:border-[1.2px] border-[#E3E2E0] bg-[#FCFBF7] py-4 lg:py-5 px-5 lg:px-6 rounded-lg"
        >
      </div>
      <a
        href="#"
        class="block mt-3 ml-auto text-base lg:text-lg text-[#1E6C44] text-end !leading-[1.2] !underline"
        >Forgot Password?</a
      >
    </div>
  </div>
  <div class="col-span-2 ">
    <div class="relative z-1">
      <button class="size-5 lg:size-6 absolute z-2 top-[56%] right-5 lg:right-6 cupsor-pointer">
        <img src="/assets/eye-icon.svg" class="size-full" alt="" width="" height="">
      </button>
      <label class="block text-[#514849] text-lg lg:text-[22px] mb-2 font-medium !leading-[1.25]">New Password</label>
      <input
        placeholder="Enter Password"
        type="password"
        value="{{ customer.password }}"
        class="w-full text-lg lg:text-xl !leading-[1.2] text-[#797375] placeholder:text-[#797375] border lg:border-[1.2px] border-[#E3E2E0] bg-[#FCFBF7] py-4 lg:py-5 px-5 lg:px-6 rounded-lg"
      >
    </div>
  </div>
  <div class="col-span-2 ">
    <div class="relative z-1">
      <button class="size-5 lg:size-6 absolute z-2 top-[56%] right-5 lg:right-6 cupsor-pointer">
        <img src="/assets/eye-icon.svg" class="size-full" alt="" width="" height="">
      </button>
      <label class="block text-[#514849] text-lg lg:text-[22px] mb-2 font-medium !leading-[1.25]"
        >Confirm New Password</label
      >
      <input
        placeholder="Enter Password"
        type="password"
        value="{{ customer.password }}"
        class="w-full text-lg lg:text-xl !leading-[1.2] text-[#797375] placeholder:text-[#797375] border lg:border-[1.2px] border-[#E3E2E0] bg-[#FCFBF7] py-4 lg:py-5 px-5 lg:px-6 rounded-lg"
      >
    </div>
  </div>
  <div class="col-span-2">
    <button type="submit" class="btn !py-4 lg:!py-5 !px-7 lg:!px-8">Update Password</button>
  </div>
</form>
