<label class="block text-white text-lg lg:text-[22px] mb-2 font-medium !leading-[1.25] font-poppins">Email*</label>
<input
  placeholder="Enter Email Address"
  type="email"
  class="w-full text-base md:text-lg lg:text-xl focus:outline-0 !leading-[1.2] text-[#B7D6C6] placeholder:text-[#B7D6C6] border font-poppins border-[#B7D6C6] bg-[#2A7A51] py-4 lg:py-5 px-5 lg:px-6 rounded-lg "
>
