{% layout 'theme' %}

<div class="customer reset-password">
  <h1>Reset your password</h1>

  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <label for="ResetPassword">Password</label>
    <input type="password" name="customer[password]" id="ResetPassword">

    <label for="PasswordConfirmation">Confirm Password</label>
    <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation">

    <button type="submit">Reset Password</button>
  {% endform %}
</div>
