<div class="story py-17.5 md:py-20 lg:py-25 xl:py-35 2xl:pt-37.5 2xl:pb-35">
  <div class="container">
    <div class="w-full xl:w-10/12 mx-auto">
      <div class="flex flex-col md:flex-row md:flex-nowrap gap-5 md:gap-8 3xl:gap-15 flex-wrap ">
        <div class="w-full md:w-1/2 h-auto">
          <div class="">
            <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-[#0D2E1D] !leading-[1.25] font-bold font-armany-bold mb-3 lg:mb-4">
              Our Story
            </h2>
            <p class="text-base md:text-lg lg:text-xl font-poppins !leading-[1.6] text-[#514849] mb-6 lg:mb-8 xl:mb-10 ">
              At Roots, we are more than a beauty brand - we are a celebration of nature’s healing power and timeless
              self - care rituals.
            </p>
            <div class=" h-120 lg:h-140 xl:h-160 3xl:h-185 w-full shadow-[-8px_-10px_#FFC801] rounded-2xl lg:rounded-[20px] lg:shadow-[-10px_-10px_#FFC801]">
              <img
                src="/assets/product3.png"
                width=""
                height=""
                alt=""
                class="size-full rounded-2xl lg:rounded-[20px]"
              >
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class=" lg:mt-15  xl:mt-75 ">
           <p class="text-base lg:text-lg !leading-[1.6] text-[#514849] mb-3 lg:mb-4 font-poppins">Our journey began with a simple truth: <span class="font-medium text-[#0D2E1D]">beauty thrives when nurtured naturally.</span></p>
           <p class="text-base lg:text-lg !leading-[1.6] text-[#514849] mb-3 lg:mb-4 font-poppins">That’s why we start with one of nature’s most powerful gifts - pure, organic castor oil - known for its ability to nourish, restore, and transform hair and skin from within. In a world overflowing with chemicals and quick fixes, Roots offers something different: honest, clean, and effective care for people who value purity, simplicity, and trust.</p>
           <p class="text-base lg:text-lg !leading-[1.6] text-[#0D2E1D] font-medium">We don’t just create oils - we create experiences rooted in care, simplicity, and transparency. Every drop is crafted to work in harmony with your body, helping you embrace your natural beauty with confidence.</p>
           <div class="lg:h-95.5  w-full mt-6 md:mt-8 lg:mt-10 rounded-xl md:rounded-2xl lg:rounded-[20px] "><img src="/assets/about1.png" class="rounded-xl md:rounded-2xl lg:rounded-[20px] " width="" height="" alt=""></div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>
