<div class="bundle">
  {% assign collection = collections[section.settings.collection] %}
  {% if collection and collection.products.size > 0 %}
    {% for product in collection.products %}
      {% assign layout_index = forloop.index0 | modulo: 2 %}

      {% case layout_index %}
        {% when 0 %}
          {% render 'layout-1', product: product %}
        {% when 1 %}
          {% render 'layout-2', product: product %}
      {% endcase %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "2 Layout Auto Collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    }
  ],
  "presets": [
    {
      "name": "3 Layout Auto Collection"
    }
  ]
}
{% endschema %}
