<!-- sections/common-banner.liquid -->
<section
  class="common-banner bg-[#1E6C44]"
>
  <div class="container mx-auto py-8 lg:py-10 xl:pt-12.5 xl:pb-16 2xl:pb-18.5 text-center text-white">
    <div class="banner-wrapper  max-w-172.5 mx-auto">
      <h1 class=" text-3xl lg:text-4xl xl:text-[40px] 2xl:text-5xl font-armany-bold !leading-[1.25] text-white mb-3 lg:mb-4 font-bold">
        {% if page.metafields.custom.banner_title != blank %}
          {{ page.metafields.custom.banner_title }}
        {% else %}
          {{ section.settings.default_title }}
        {% endif %}
      </h1>
      <p class="text-lg lg:text-xl text-[#B7D6C6] !leading-[1.6]">
        {% if page.metafields.custom.banner_description != blank %}
          {{ page.metafields.custom.banner_description }}
        {% else %}
          {{ section.settings.default_description }}
        {% endif %}
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Common Banner",
  "settings": [
    {
      "type": "text",
      "id": "default_title",
      "label": "Page Title",
      "default": "Welcome to Our Store"
    },
    {
      "type": "textarea",
      "id": "default_description",
      "label": "Banner Description",
      "default": "Banner Description"
    }
  ],
  "presets": [
    {
      "name": "Common Banner",
      "category": "Hero"
    }
  ]
}
{% endschema %}
