<div class="contact py-17.5 md:py-20 lg:py-25 xl:py-37.5 2xl:pb-40">
  <div class="container">
    <div class="flex flex-col md:flex-row flex-wrap md:flex-nowrap gap-5 md:gap-8 lg:gap-12">
      <div class="w-full md:7/12  xl:gap-15 mb-4 md:mb-0">
        <div class="mb-5 md:mb-8 xl:mb-10">
          <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green !leading-[1.25] font-bold font-armany-bold mb-3 md:mb-4 ">
            Get in touch
          </h2>
          <p class="text-base lg:text-lg xl:text-xl !leading-[1.6] text-[#797375] font-medium mb-3 lg:mb-4 font-poppins">
            Have a question or need help? We're here for you.
          </p>
        </div>
        <div class="">
            <div class="flex flex-col md:flex-row gap-4 md:gap-6 lg:gap-7.5 w-full mb-4 lg:mb-5" >
                <div class="flex-grow ">
                    <label for="name" class="text-base lg:text-lg font-medium !leading-[1.5] text-[#514849] mb-3 block">Your Name <span class="!text-red-500"> </span>*</label>
                    <input type="text" class="w-full rounded-lg lg:rounded-xl border border-[#E3E2E0] p-3 lg:p-4.5 text-[#D1CDCE] placeholder:text-[#D1CDCE] focus:text-nome" placeholder="Name" name="" id="name">
                </div>
                <div class="flex-grow ">
                    <label for="name" class="text-base lg:text-lg font-medium !leading-[1.5] text-[#514849] mb-3 block"><span class="text-red-500"> </span>Your Name *</label>
                    <input type="text" class="w-full rounded-lg lg:rounded-xl border border-[#E3E2E0] p-3 lg:p-4.5 text-[#D1CDCE] placeholder:text-[#D1CDCE] focus:text-nome" placeholder="Name" name="" id="name">
                </div>
           </div>
           <div class="">
            <p class="text-base lg:text-lg font-medium !leading-[1.5] text-[#514849] mb-2 block">Your Message<span class="text-red-500">*</span></p>
            <textarea name="" class="w-full h-40 md:h-50 lg:h-60 xl:h-80.5 rounded-lg lg:rounded-xl border border-[#E3E2E0] p-4 lg:p-5 mb-5 md:mb-6 xl:mb-8"  id="" ></textarea>
            <a href="#" class="btn">Send Message</a>
           </div>
        </div>
      </div>
      <div class="w-full md:5/12">
        <div class="rounded-2xl  lg:rounded-[20px] p-5 md:p-7 lg:p-9 xl:p-11 2xl:p-12.5 bg-[#1E6C44]">
           <div class="mb-7.5 md:mb-9 lg:mb-11 xl:mb-12.5">
             <h6 class="text-lg lg:text-xl xl:text-2xl font-medium !leading-[1.5] text-white mb-3 lg:mb-4 font-poppins">Address</h6>
             <p class="lg:pr-[50%] text-lg lg:text-xl !leading-[1.6] text-[#B7D6C6] font-poppins">123 Greenway Boulevard, Suite 200 Austin, TX 78701, USA</p>
           </div>
           <div class="mb-7.5 md:mb-9 lg:mb-11 xl:mb-12.5">
             <h6 class="text-lg lg:text-xl xl:text-2xl font-medium !leading-[1.5] text-white mb-3 lg:mb-4">Contact</h6>
            <div class="lg:pr-[50%] ">
               <p class="text-sm lg:text-base !leading-[1.6] text-[#B7D6C6] font-poppins mb-2 lg:mb-3">Email : <span class="text-white"> support@rootsnaturalcare.com</span></p>
               <p class="text-sm lg:text-base !leading-[1.6] text-[#B7D6C6] font-poppins mb-2 lg:mb-3">Phone : <span class="text-white"> +0123-456-789</span></p>
            </div>
           </div>
           <div class="mb-7.5 md:mb-9 lg:mb-11 xl:mb-12.5">
             <h6 class="text-lg lg:text-xl xl:text-2xl font-medium !leading-[1.5] text-white mb-3 lg:mb-4">Open Time</h6>
            <div class="lg:pr-[50%] ">
               <p class="text-sm lg:text-base !leading-[1.6] text-[#B7D6C6] font-poppins mb-2 lg:mb-3">Monday - Friday: 10:00 - 20:00</p>
               <p class="text-sm lg:text-base !leading-[1.6] text-[#B7D6C6] font-poppins mb-2 lg:mb-3">Saturday - Sunday : 11:00 18:00</p>
            </div>
           </div>
           <div class="">
             <h6 class="text-lg lg:text-xl xl:text-2xl font-medium !leading-[1.5] text-white mb-3 lg:mb-4">Follow</h6>
            <div class="flex items-center gap-3">
                <a href="#" class="size-14 rounded-full bg-primary p-3.5 flex items-center justify-center transform hover:scale-[1.04] ease-in-out duration-300"><img src="/assets/Facebook.png" class="size-full" width="" height="" alt=""></a>
                <a href="#" class="size-14 rounded-full bg-primary p-3.5 flex items-center justify-center transform hover:scale-[1.04] ease-in-out duration-300"><img src="/assets/Instagram.png" class="size-full" width="" height="" alt=""></a>
                <a href="#" class="size-14 rounded-full bg-primary p-3.5 flex items-center justify-center transform hover:scale-[1.04] ease-in-out duration-300"><img src="/assets/Pinterest.png" class="size-full" width="" height="" alt=""></a>
                <a href="#" class="size-14 rounded-full bg-primary p-3.5 flex items-center justify-center transform hover:scale-[1.04] ease-in-out duration-300"><img src="/assets/YouTube.png" class="size-full" width="" height="" alt=""></a>
                <a href="#" class="size-14 rounded-full bg-primary p-3.5 flex items-center justify-center transform hover:scale-[1.04] ease-in-out duration-300"><img src="/assets/x.png" class="size-full" width="" height="" alt=""></a>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
