<div class="countdown-area">
    <div class="container">
        <div class="countdown-inner">
            <div class="single-item">
                
            </div>
        </div>
    </div>
</div>