<div class="empty-card py-10 md:py-16 lg:py-20 xl:py-25 2xl:py-30 3xl:py-36">
  <div class="container">
    <div
      class="text-center py-8 md:py-16 xl:py-23 3xl:py-29 rounded-2xl lg:rounded-[20px] bg-[#B7D6C6] border border-[#1E6C44)]"
    >
      <div class="w-full md:w-9/12 xl:w-8/12 2xl:w-6/12 px-5 md:mx-auto">
        <h5 class="text-green text-2xl md:text-3xl lg:text-4xl x3l:text-[52px] !leading-[1.25] font-bold font-armany-bold mb-5 md:mb-7 lg:mb-8 2xl:mb-10">
          Your cart is empty. Let’s start your natural beauty journey Now.
        </h5>
        <a href="#" class="btn">Continue Shopping</a>
      </div>
    </div>
  </div>
</div>
