<div class="join-rools py-10 md:py-16 lg:py-25 xl:py-35 2xl:py-41 relative z-1">
    <img src="/assets/join.png" class="size-full left-0 top-0 absolute -z-1" width="" height="" alt="">
    <div class="container">
       <div class="  rounded-2xl  border border-[rgba(255,_255,_255,_0.40)] backdrop-blur-[16px] p-3 lg:p-4 bg-[rgba(255,_255,_255,_0.01)] w-full md:w-10/12 2xl:w-8/12 mx-auto">
        <div class="py-6 md:py-10 lg:py-12 xl:py-16 2xl:py-20 bg-[#1E6C44] rounded-xl">
          <div class="section-title text-center mx-auto w-full px-6 sm:px-8.5 md:px-0">
          <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-white !leading-[1.25] font-bold font-armany-bold mb-3 lg:mb-5">Explore Our Latest Blog</h2>
          <p class="lg:pr-8 text-base md:text-lg lg:text-xl font-poppins !leading-[1.6] text-[#F5F5F5] mb-6 lg:mb-8 xl:mb-10">Tips, insights, and natural beauty wisdom straight from our experts.</p>
          <a href="#" class="btn flex items-center gap-3 mx-auto max-w-max"
          > Subscribe Now
          </a>
      </div>
        </div>
       </div>
    </div>
</div>