<div class="latest-blog py-10 md:py-12 lg:py-15 xl:py-20 2xl:py-25 bg-[#B7D6C6]">
  <div class="container">
    <div class="w-full xl:w-11/12 mx-auto">
      <div class="flex items-center flex-col md:flex-row flex-wrap gap-5 md:flex-nowrap">
        <div class="w-full md:w-5/12 lg:w-1/2">
         <div class="section-title text-center md:text-start  w-full md:w-10/12 xl:w-8/12">
        <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green !leading-[1.25] font-bold font-armany-bold mb-4">Explore Our Latest Blog</h2>
        <p class="lg:pr-8 text-base md:text-lg lg:text-xl font-poppins !leading-[1.6] text-secondary mb-6">Tips, insights, and natural beauty wisdom straight from our experts.</p>
        <a href="#" class="btn flex items-center gap-3 mx-auto md:mx-0 max-w-max"
          >Learn More About Us
          <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
        </div>
        <div class="w-full md:w-7/12 lg:w-1/2">
           <div class="grid grid-cols-2 gap-4 lg:gap-6 2xl:gap-8">
             <div class="rounded-xl lg:rounded-2xl bg-white p-2.5 lg:p-2">
                <div class="w-full h-25 md:h-28 lg:h-35 2xl:h-52 mb-2.5 md:mb-4 xl:mb-5"><img src="/assets/blog1.png" class="size-full rounded-xl" width="" height="" alt="img"></div>
                 <div class="">
                    <h6 class="text-sm md:text-base lg:text-xl xl:text-2xl text-[#21201E] font-medium !leading-[1.4] mb-2 lg:mb-3 font-poppins">5 Castor Oil Benefits You Need to Know</h6>
                    <a href="#" class="text-sm md:text-base lg:text-lg font-medium text-[#CAA000] !leading-[1.2] flex items-center gap-1 lg:gap-2 font-poppins">Read More 
                        <span>
                           <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                         </span>
                    </a>
                 </div>
             </div>
             <div class="rounded-xl lg:rounded-2xl bg-white p-2.5 lg:p-2">
                <div class="w-full h-25 md:h-28 lg:h-35 2xl:h-52 mb-2.5 md:mb-4 xl:mb-5"><img src="/assets/blog2.png" class="size-full rounded-xl" width="" height="" alt="img"></div>
                 <div class="">
                    <h6 class="text-sm md:text-base lg:text-xl xl:text-2xl text-[#21201E] font-medium !leading-[1.4] mb-2 lg:mb-3 font-poppins">The Secret to Naturally Thicker Brows</h6>
                    <a href="#" class="text-sm md:text-base lg:text-lg font-medium text-[#CAA000] !leading-[1.2] flex items-center gap-1 lg:gap-2 font-poppins">Read More 
                        <span>
                           <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                         </span>
                    </a>
                 </div>
             </div>
             <div class="rounded-xl lg:rounded-2xl bg-white p-2.5 lg:p-2">
                <div class="w-full h-25 md:h-28 lg:h-35 2xl:h-52 mb-2.5 md:mb-4 xl:mb-5"><img src="/assets/blog3.png" class="size-full rounded-xl" width="" height="" alt="img"></div>
                 <div class="">
                    <h6 class="text-sm md:text-base lg:text-xl xl:text-2xl text-[#21201E] font-medium !leading-[1.4] mb-2 lg:mb-3 font-poppins">Why Cold-Pressed Oils Are Better for Your Skin</h6>
                    <a href="#" class="text-sm md:text-base lg:text-lg font-medium text-[#CAA000] !leading-[1.2] flex items-center gap-1 lg:gap-2 font-poppins">Read More 
                        <span>
                           <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                         </span>
                    </a>
                 </div>
             </div>
             <div class="rounded-xl lg:rounded-2xl bg-white p-2.5 lg:p-2">
                <div class="w-full h-25 md:h-28 lg:h-35 2xl:h-52 mb-2.5 md:mb-4 xl:mb-5"><img src="/assets/blog4.png" class="size-full rounded-xl" width="" height="" alt="img"></div>
                 <div class="">
                    <h6 class="text-sm md:text-base lg:text-xl xl:text-2xl text-[#21201E] font-medium !leading-[1.4] mb-2 lg:mb-3 font-poppins font-poppins">How to Create a Weekly Castor Oil Spa Night</h6>
                    <a href="#" class="text-sm md:text-base lg:text-lg font-medium text-[#CAA000] !leading-[1.2] flex items-center gap-1 lg:gap-2">Read More 
                        <span>
                           <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                         </span>
                    </a>
                 </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
