<div class="out-rooms py-17.5 md:py-20 lg:py-25 xl:py-30 2xl:py-35">
  <div class="container">
    <div class="flex justify-center mb-8 md:mb-12 lg:mb-15">
      <div class="section-title text-center w-full md:w-10/12 xl:w-8/12">
        <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green !leading-[1.25] font-bold font-armany-bold mb-4">
          Our Roots, Your Ritual
        </h2>
        <p class=" lg:px-10 text-base md:text-lg lg:text-xl font-poppins !leading-[1.6] text-secondary mb-6">
          At Roots, we celebrate nature’s healing power and timeless self-care. Our pure, organic castor oil nourishes,
          restores, and transforms hair and skin. In a world of chemicals, we offer honest, clean, and effective care
          for those who value purity and trust.
        </p>
        <a href="#" class="btn flex items-center gap-3 mx-auto max-w-max"
          >Learn More About Us
          <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.332 1L15.832 6.5M15.832 6.5L10.332 12M15.832 6.5L1.16536 6.5" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="w-10/12 mx-auto">
      <div class="relative w-full h-55 md:h-100 lg:h-130 xl:h-141.5 z-1">
        <video
          id="myVideo"
          poster="/assets/poster.png"
          class="w-full h-full rounded-xl lg:rounded-[10px] overflow-hidden bg-white"
        >
          <source src="assets/video.mp4" class="rounded-xl lg:rounded-[10px] size-full " type="video/mp4">
        </video>

        <!-- Play button -->
        <button
          id="playBtn"
          class="absolute z-2 left-1/2 top-1/2 -translate-x-1/2 cursor-pointer -translate-y-1/2 size-6.5 lg:size-9 xl:size-11 2xl:size-13  rounded-full flex-[0_0_auto] text-white flex items-center justify-center"
        >
          <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="52" height="52" rx="26" fill="white"/>
            <path d="M20.54 16.0494C20.4186 15.9773 20.2802 15.9388 20.139 15.9375C19.9978 15.9363 19.8588 15.9725 19.7361 16.0423C19.6134 16.1122 19.5114 16.2133 19.4404 16.3354C19.3695 16.4575 19.3321 16.5962 19.332 16.7374V35.2627C19.3321 35.4039 19.3695 35.5426 19.4404 35.6646C19.5114 35.7867 19.6134 35.8878 19.7361 35.9577C19.8588 36.0276 19.9978 36.0638 20.139 36.0625C20.2802 36.0613 20.4186 36.0227 20.54 35.9507L36.1707 26.688C36.2901 26.6172 36.389 26.5165 36.4577 26.3959C36.5263 26.2753 36.5625 26.1388 36.5625 26C36.5625 25.8612 36.5263 25.7248 36.4577 25.6042C36.389 25.4835 36.2901 25.3829 36.1707 25.312L20.54 16.0494Z" fill="#1E6C44"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const video = document.getElementById('myVideo');
  const playBtn = document.getElementById('playBtn');

  playBtn.addEventListener('click', () => {
    video.play();
    playBtn.style.display = 'none'; // hide button after play
  });
</script>
