<div class="roots-customer-reviews py-17.5 md:py-20 lg:py-25 xl:py-30 2xl:py-37.5">
  <div class="container">
    <h2 class="text-2xl md:text-3xl lg:text-4xl xl:text-[44px] text-green !leading-[1.25] font-bold font-armany-bold mb-5.5 md:mb-7 lg:mb-10 xl:mb-12.5">
      Customer Reviews
    </h2>
    <!-- Add inside product-template.liquid বা main-product.liquid -->
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true %}
  </div>
</div>
{% stylesheet %}
  .jdgm-carousel-wrapper {
    position: relative;
  }
  .jdgm-carousel-wrapper .jdgm-widget.jdgm-carousel {
    width: 100% !important;
  }
  .jdgm-carousel-title-and-link {
    display: none;
  }
  .jdgm-carousel--aligned-theme .jdgm-carousel-item {
    border: 1px solid #e3e2e0;
    padding: 36px !important;
    margin-inline: 10px;
    border-radius: 12px;
    background: #fff;
  }
  .jdgm-carousel-wrapper {
    width: 100% !important;
    margin: auto;
    padding: 0 !important;
  }
  .jdgm-carousel__item-wrapper {
    width: calc(100% - 60px) !important;
    height: 313px !important;
    white-space: nowrap;
  }
  .jdgm-carousel-item__review-title {
    display: none !important;
  }
  .jdgm-carousel-item__review-body {
    margin: 0;
    margin-top: 15px !important;
    color: #797375;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .jdgm-carousel--aligned-theme .jdgm-carousel-item__review-wrapper {
    width: 100% !important;
  }
  .jdgm-carousel--aligned-theme .jdgm-carousel-item__reviewer-name {
    color: #0d2e1d;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .jdgm-carousel--aligned-theme .jdgm-carousel-item__product-image {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    width: 44px !important;
    height: 44px !important;
    position: absolute;
    bottom: 40px;
    left: 40px;
    border-radius: 50%;
  }
  .jdgm-carousel--aligned-theme .jdgm-carousel-item__reviewer-name-wrapper {
    text-align: left;
    padding-left: 50px;
    margin: 0 !important;
    margin-bottom: 15px !important;
    margin-top: -15px !important;
  }
  .jdgm-carousel__arrows .jdgm-carousel__right-arrow.jdgm-carousel__right-arrow,
  .jdgm-carousel__arrows .jdgm-carousel__left-arrow.jdgm-carousel__left-arrow {
    display: inline-block;
    position: absolute;
    top: 80px;
    right: 50px;
  }
  .jdgm-carousel--aligned-theme .jdgm-carousel-item {
    position: relative;
  }
  @media (max-width: 992px) {
    .jdgm-carousel--aligned-theme .jdgm-carousel-item {
      margin-inline: 10px;
    }
    .jdgm-carousel__item-wrapper {
      width: calc(100% - 40px) !important;
    }
  }
  @media (max-width: 767px) {
    .jdgm-carousel--aligned-theme .jdgm-carousel-item {
      margin-inline: 0px;
    }
    .jdgm-carousel__item-wrapper {
      width: 100% !important;
    }
  }
{% endstylesheet %}
