<div class="why-choose">
  <div class="container">
    <h2>why choose</h2>
  </div>
</div>
{% schema %}
{
  "name": "Why Choose Section",
  "settings": [],
  "presets": [
    {
      "name": "Why Choose",
      "category": "Why Choose"
    }
  ]
}
{% endschema %}
