@font-face {
  font-family: "armany-regular";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-regular.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-regular.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "armany-medium";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-medium.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-medium.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "armany-semibold";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-semibold.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-semibold.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "armany-bold";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-bold.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-bold.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
