@font-face {
  font-family: "armany-regular";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-regular.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-regular.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "armany-medium";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-medium.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-medium.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "armany-semibold";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-semibold.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-semibold.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "armany-bold";
  src: url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-bold.woff2?v=1755797432") format("woff2"),
       url("https://cdn.shopify.com/s/files/1/0773/9739/3656/files/armany-bold.woff2?v=1755797432") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

body{
    font-family:  "Poppins", sans-serif;;
}
  .checkbox-wrapper-23 *,
  .checkbox-wrapper-23 *:after,
  .checkbox-wrapper-23 *:before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-23 input {
    position: absolute;
    opacity: 0;
  }

  .checkbox-wrapper-23 input:checked + label svg path {
    stroke-dashoffset: 0;
  }

  .checkbox-wrapper-23 input:focus + label {
    transform: scale(1.03);
  }

  .checkbox-wrapper-23 input + label {
    display: block;
    border: 2px solid #fff;
    width: var(--size);
    height: var(--size);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .checkbox-wrapper-23 input + label:active {
    transform: scale(1.05);
    border-radius: 12px;
  }

  .checkbox-wrapper-23 input + label svg {
    pointer-events: none;
    padding: 5%;
  }

  .checkbox-wrapper-23 input + label svg path {
    fill: none;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
  }
  
  @view-transition{
    navigation: auto;
  }

  ::view-transition-group(*){
   animation-duration: .3s;
  }