@import "tailwindcss";
/* Custom Armany Fonts */



/* Theme Variables */
@theme {
  --color-primary: #FFC801;
  --color-secondary: #797375;
  --color-green: #0D2E1D;
  --color-list: #1E6C44;
  --color-stroke: #116091;
  --color-para: #514849;
  --color-btn: #1F1904;

  --breakpoint-xs: 390px;
  --breakpoint-sm: 414px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1240px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1520px;

  --font-poppins: "Poppins", sans-serif;
  --font-armany-regular: 'armany-regular';
  --font-armany-medium: 'armany-medium';
  --font-armany-semibold: 'armany-semibold';
  --font-armany-bold: 'armany-bold';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .btn {
    @apply inline-flex items-center justify-center gap-2 rounded-[40px] !leading-tight px-8 min-h-16 bg-primary text-[#1F1904] text-xl font-poppins border border-solid border-primary hover:text-black transition-all duration-300 cursor-pointer hover:bg-white;
  }
  .inline-btn {
    @apply inline-flex items-center justify-center gap-2 rounded-[40px] !leading-tight px-8 min-h-16 text-white text-xl font-poppins border border-solid border-[#B7D6C6] hover:text-white hover:bg-green transition-all duration-300 hover:border-green cursor-pointer;
  }
}

/* Container */
.container {
  max-width: 1648px;
  margin-inline: auto;
  padding-inline: 15px;
}

/* Shopify challenge page */
.i4DWM ._4QenE {
  background: #1e6c44 !important;
  color: #fff;
  border-radius: 12px;
  margin: 40px;
}
.shopify-challenge__container {
  max-width: 500px;
  margin: 0 auto;
  padding: 150px 0;
}



